# Editor directories and files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.idea
.vscode

# Local working file
app/static/uploads/
app/config/dev.py
guide/
wx-tool/
php-resource/
.venv/*
tmp/
.env
Pipfile.lock
