[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "==1.0.2"
flask-sqlalchemy = "==2.3.2"
flask-wtf = "==0.14.2"
cymysql = "==0.9.1"
flask-httpauth = "==2.7.0"
requests = "==2.20.0"
flask-cors = "==3.0.6"
flask-script = "==2.0.6"
flasgger = "==0.9.1"
gunicorn = "==19.9.0"
wechatpy = "==1.8.3"
flask-admin = "==1.5.5"
flask-login = "==0.5.0"

[dev-packages]
pylint = "==2.4.4"

[requires]
python_version = "3.6"
