[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
flask-sqlalchemy = "==2.3.2"
flask-wtf = "==0.14.2"
cymysql = "==0.9.1"
flask-httpauth = "==2.7.0"
requests = "==2.18.4"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.6"
