<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小程序商城</title>
    <style type="text/css">
        body {
            background: #fff;
            font-family: "Century Gothic", "Microsoft yahei";
            color: #333;
            font-size: 18px;
        }

        a {
            margin: 10px;
            color: #2E5CD5;
            cursor: pointer;
            text-decoration: none
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div style="padding: 24px 48px;">
        <p style="font-size:38px">
            小程序商城项目<br/>
            <span style="font-size:30px">欢迎你</span>
        </p>
        <div class="link">
            <a href="/apidocs/#/">Swagger API文档</a>
            <a href="/admin/">静态资源&ORM 管理</a>
            <a href="{{ url.github }}">GitHub 仓库</a>
            <a href="{{ url.doc }}">项目文档</a>
        </div>
    </div>
</body>
</html>
